---
import { formatDate } from "../utils/formatDate";

export interface Props {
    video: {
        title: string;
        poster_path: string;
        release_date: string;
        id: number;
        overview: string;
    };
}
const { video } = Astro.props;
---

<section class="card">
    <img
        src={`https://www.themoviedb.org/t/p/w440_and_h660_face/${video.poster_path}`}
        alt={`affiche du film ${video.title}`}
        class="poster"
    />
    <section>
        <h1 class="title">{video.title}</h1>
        <footer>
            <button title="Plus d'Info">
                <img src="img/plus_24.png" alt="icone pour plus d'info" />
            </button>
            <span class="date">{formatDate(video.release_date)}</span>
        </footer>
    </section>
</section>

<style>
    .card {
        display: flex;
        width: 100%;
        background-color: #fff;
        color: var(--dark);
        border-radius: 0.5rem;
    }
    .poster {
        width: 22vw;
        aspect-ratio: 1/1.5;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    .card section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
    }
    footer,
    .title {
        margin: 0;
    }
    .title {
        min-height: calc(1rem * (2 + 0.05));
        margin-bottom: 0.75em;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: clamp(13px, 2vw, 1em);
        font-family: "Montserrat", sans-serif;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: clamp(10px, 1vw, 0.9em);
        color: grey;
        font-family: "Montserrat", sans-serif;
    }

    footer button {
        border: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }
    footer button:hover {
        transform: scale(1.1) rotate(45deg);
    }
    @media screen and (min-width: 450px) {
        .card {
            display: block;
            width: clamp(180px, 20vw, 300px);
        }

        .poster {
            width: 100%;
            aspect-ratio: 1/1.5;
            border-top-right-radius: 0.5rem;
            border-bottom-left-radius: 0;
        }

        .card section {
            width: auto;
            /* display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;*/
            aspect-ratio: 1/0.3;
        }
    }
</style>
